.ref {
  position:absolute;
  opacity:.5;
  max-width:100%;
  //width:100%;
  z-index:9999;
  display:none;
}

.wrap {
  overflow:hidden;
}

@media screen and (min-width:737px){
  .wrap {
      width:800px;
      margin:0 auto;
  }
}

.wrap img {
  max-width:100%;
}

.wrap a {
  color:#f4206c;
}

.wrap p.top {
  font-size: .3em;
  padding: 39px 0 10px 0;
  margin: 0;
  position: relative;
  left: 1px;
}

@media screen and (min-width:737px){
  .wrap p.top {
    font-size: 80%;
    padding: 81px 0 24px 0;
    left: 13px;
    letter-spacing: 0.4px;
  }
}

.text-centered {
  text-align: center;
}

.banner {
    background: url(img/banner-bg.jpg) no-repeat center top;
    background-size: cover;
    height: auto;
    padding: 0 0 57px 0;
}

@media screen and (min-width:737px){
  .banner {
    padding: 0 0 120px 0;
  }
}

.banner-image {
  background-image: url(img/banner-bg.jpg);
  filter: brightness(80%);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: top;
  position: absolute;
  z-index: -1;
}

.wrap h1 {
    color: white;
    text-shadow: 0px 3px grey;
    font-size: 1.8em;
    text-align: center;
    padding: 61px 0 12px 0;
    position: relative;
    left: 9px;
    letter-spacing: 1px;
}

@media screen and (min-width:737px){
  .wrap h1 {
    font-size: 391%;
    padding: 134px 0 29px 0;
    letter-spacing: 3px;
    left: 19px;
  }
}

.reserved-symbol {
    font-size: .4em;
    position: relative;
    top: -17px;
    left: -7px;
}

@media screen and (min-width:737px){
  .reserved-symbol {
    font-size: 32%;
    top: -38px;
    left: -3px;
  }
}

.store-buttons {
  padding: 0 0 0 20%;
}

.store-buttons a {
  display: inline-block;
  width: 35%;

}

.store-buttons a:first-of-type {
  margin-right:3%;
}

@media screen and (min-width:737px){
 .about-app {
    overflow:hidden;
  } 

  .about-app .about-app-img, .about-app .text-content {
      float:left;
  }

  .about-app .about-app-img {
      width:46%;
      padding: 88px 0 0 97px;
  }

  .about-app .text-content {
      width:54%;
      padding: 98px 0 0 29px;
  }
}


.about-app-img {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.about-app-img img {
  /*position: absolute;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;*/
}

.text-content {
  padding: 2%;
}

h3 {
  font-weight: 900;
}

h4 {
  font-weight: 900;
}

.red-word {
  color: red;
}

.phone-screen {
  width: 85%;
}

.icons-position {
  margin-top: 17%;
  text-align: center;
}

.icon {
  width: 35%;
}

.phone-screen2 {
  width: 105%;
}

.icons-position2 {
  margin-top: 10%;
  text-align: center;
}

.icon-inline {
  width: 110%;
  margin-bottom: 35px;
  vertical-align: top;
}

.text-inline {
  text-align: justify;
  margin-left: -15px;
}

.text-inline h4 {
  text-align: left;
}

div p {
  font-weight: 640;
}

.android-padding {
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-bottom {
  width: 100vw;
  height: 300px;
  margin-bottom: 80px;
  position: relative;
}

.banner-bottom-image {
  filter: brightness(80%);
  background-image: url(img/runner-female-blurred.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.banner-bottom div h1 {
  color: white;
  text-shadow: 0px 2px grey;
  padding-top: 110px;
  font-weight: 900;
  font-size: 35px;
}

.try-premium {
  color: white;
  background-color: #f50057;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 100;
  width: 240px;
  height: 54px;
  margin-top: 15px;
}

.try-premium:hover {
  background-color: #ad003d;
}

.row {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.social-media-links {
  /* display: inline-block; */
}

.social-media-bubble {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: inline-block;
}

.social-media-bubble img {
  padding-top: 11px;
}

p {
  color: grey;
}

.runners-pro-padding {
  margin-bottom: 20px;
}

p a {
  color: inherit;
}

.grey-bg {
  background-color: #f1f1f1;
  width: 100vw;
}
